@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

@media screen  and (min-width: 767px){
    .navbar-default .container-fluid .btndown>button>i {margin: 10px}
}

@font-face {
    font-family: 'Altair-Thin Trial';
    src: url('polices/Altair-Thin Trial.ttf');
}
@font-face {
    font-family: 'steelfish';
    src: url('polices/steelfish rg.ttf');
}

@font-face {
    font-family: 'Idilica';
    src: url('polices/Idilica.ttf');
    src: url('polices/Idilica.otf');
}

@font-face {
    font-family: 'basictitlefont';
    src: url('polices/basictitlefont.ttf');
}
/**
          NAVIGATION BAR
 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-default {
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.navbar-default .container-fluid  ul > li > a:hover {
    color: cadetblue;
    transition: 0.5s;
}

.navbar-default .container-fluid  ul > li > a {
    transition: 0.5s;
}

.navbar-default .container-fluid .navbar-header a > span:hover {
    color: cadetblue;
    transition: 0.3s;
}

.navbar-default .container-fluid .navbar-header a > span {
    transition: 0.5s;
}

#btndown {
    margin: 20px;
    float: right;
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
}

#btndown:hover{
    color: orange;
}

.socialmenu {
    float: right;
    margin-top: 60px;
    margin-right: -60px;
}

.video {
    display: block;
    position: fixed;
    width: 100%;
    min-width: 100%;
    z-index: -15;
    height: 50%;
    transform: translateX(-10%) translateY(-80%);
}

.section1 {
    background-color: #0B6774;
    margin-top: 130px;
    height: 180px;
    width: 100%;
}

#computer {
    height: 120px;
    width: 120px;
    margin: 25px auto;
    display: block;
}

.list-skill {
    height: 450px;
    background-color: white;
    padding-top: 50px;
    text-align: center;
}

.quality {
    margin: 20px auto;
    display: block;
    height: 150px;
    width: 150px;
}

.list-skill .quality-title .title>h3 {

    font-family: 'steelfish';
    font-weight: bold;
    font-size: 35px;
}

.list-project {
    height: 600px;
}

.first-project {
    background-color: orange;
    height: 600px;
}

.tab-project1 {
    background-color: aliceblue;
    height: 300px;
    width: 50%;
}

.tab-project2 {
    background-color: #0B6774;
    height: 300px;
    width: 50%;
}

.tab-project3 {
    background-color: blue;
    height: 300px;
    width: 50%;
}

.tab-project4 {
    background-color: coral;
    height: 300px;
    width: 50%;
}

.langage {
    height: 500px;
    background-color: blueviolet;
}


footer {
    height: 200px;
    background-color: #818181;
}